@model HackathonBackend.Models.Load

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Load</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PONumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PONumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverCellNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverCellNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
